@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var approveButtonModel = new ButtonModel
    {
        ButtonText = "Approve",
        AlertMessage = "You approved!"
    };

    var cancelButtonModel = new ButtonModel
    {
        ButtonText = "Cancel",
        AlertMessage = "You canceled!"
    };

    var warningButtonModel = new ButtonModel
    {
       ButtonText = "Warning",
       AlertMessage = "This is a warning!"
    };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="width:50vw;">
    @await Component.InvokeAsync("ButtonApprove", new { Model = approveButtonModel })
    @await Component.InvokeAsync("ButtonCancel", new { Model = cancelButtonModel })
    @await Component.InvokeAsync("ButtonWarning", new { Model = warningButtonModel })
</div>
